*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.navbar-principal{
    background-color: #ff0000;
}

.img-gabriel{
    height: 350px;
    
}
.card{
    margin-top: 75px;
}

.siguiente{
    background: #ff0000;
    
}
.boton{
    margin-top: 20px;

}
.footer{
    margin-top: auto;
    height: 40px;
}